:root {
  --main-aqua: #52e2cd;
  --main-gray: #435058;
  --main-blue: #0a1930;
  --light-gray: #c8c8c8;
  --medium-gray: #8891ad;
  --light-aqua: #a6ece0;
  --white-smoke: #f1f2ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container,
.header {
  background-color: var(--main-blue);
}

.header {
  height: 15vh;
}

.main_container {
  height: 73vh;
  padding-left: 12vw;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  padding-left: 12vw;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-family: "Source Code Pro", monospace;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--medium-gray);
}

.nav-link > span {
  color: var(--main-aqua);
}

.nav-link:hover {
  color: var(--main-aqua);
}

.nav-logo > img {
  width: 4rem;
}

.hello > p {
  font-family: "Source Code Pro", monospace;
  font-size: 1.6rem;
  color: var(--main-aqua);
  padding: 2% 0;
}
.hello > h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
  font-style: normal;
  color: var(--white-smoke);
}
.hello > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-style: normal;
  color: var(--medium-gray);
}
.hello_text {
  width: 60%;
}
.hello_text > p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  font-stretch: condensed;
  font-style: normal;
  color: var(--medium-gray);
  padding: 8% 0;
}

.hello_text > button {
  border-color: #52e2cd;
  border-style: solid;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  color: var(--main-aqua);
  padding: 3%;
  cursor: pointer;
}

.hello_text > button:hover {
  background-color: var(--light-aqua);
  opacity: 0.5;
  color: var(--main-gray);
}

footer {
  height: 10vh;
}

.footer_1 {
  background-color: var(--main-aqua);
  display: flex;
  align-items: center;
}

.footer_1 > ul {
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer_1 > ul > li {
  margin: auto;
  display: inline;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.fa {
  color: var(--main-blue);
  padding: 20px;
  font-size: 30px;
  width: 50px;
}

.fa:hover {
  opacity: 0.7;
}

.footer_2 {
  font-family: "Poppins", sans-serif;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: var(--medium-gray);
  color: var(--white-smoke);
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

/* ESTILOS PORTFOLIO  */

.portfolio_container {
  display: flex;
  background-color: var(--main-blue);
  padding: 5%;
}

.portfolio_layout {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding-left: 12vw;
}

.portfolio_layout > img {
  display: flex;
  width: 20%;
}

/* ESTILOS FORMULARIO */
.form_container {
  background-color: var(--main-blue);
  height: 73vh;
  padding-left: 12vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form_section {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  width: 440px;
  padding: auto;
  border-radius: 1%;
}

.form_section > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  color: var(--main-blue);
}

.form_section > h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: center;
  padding-bottom: 5%;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--main-aqua);
  margin-top: 1%;
}
textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid var(--main-aqua);
}
.submit {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: var(--main-aqua);
  border-color: var(--main-aqua);
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

/* ESTILOS CONTACTO */

.about_container {
  height: 73vh;
  padding-left: 12vw;
  margin: auto;
  background-color: var(--main-blue);
  display: flex;
}

.about {
  width: 70%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 70%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about > figure > img {
  height: 40vh;
}

.skills > figure > img {
  width: 35vh;
}

.about_text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: var(--light-gray);
  padding: 10%;
}

.skills_text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: var(--light-gray);
  padding: 10%;
}
.skills_text > p,
.about_text > p {
  line-height: 1.6;
}
